/home/franticoreo/egi_cal/token.pickle
/home/franticoreo/egi_cal/credentials.json
/home/franticoreo/egi_cal/docs_credentials.json
./docs/credentials.json
./docs/creds_client_config.json
./docs/drive_token.pickle
./docs/gmail_creds.json
./docs/new_drive_creds.json
./docs/OAuth.json
./docs/token.pickle 
